@media (max-width: 768px) {
    .logoWrapper {
        width: 80%;
    }
    .nav-icon {
        right: 10px
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-list-item::after {
        top: 50%;
        left: -200px;
        transform: translateY(-50%);
        transition: left ease 0.4s;
    }
    .nav-list-item.active::after {
        left: 0px;
        top: 50%;
    }
    .contactContainer {
        padding: 40px 20px;
    }
    .contactContainer input:not([type=submit]),
    .contactContainer textarea {
        width: 100%;
    }
    .sendMessage {
        width: 80%;
    }
    .container::before {
        transform: translateY(.75px);
    }
}